
{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% include 'messages.html' %}

{% block main %}
<div class='container mt-3'>
    <div class='row'>
        <div class=" card col-sm-6 offset-sm-3 " style="width: 18rem;">
            <h3 > Confirm Delete </h3>
            <form action='' method='POST'> {% csrf_token %}
            <p > Are ou sure to delete the comment "{{comment.content}}" ?</p>
            <button type='submit' class='btn btn-warning' > Confirm </button>
            <a href='{{parent_url}}' class='btn btn-default'> Cancel </a>
            </form>
        </div>
            
    </div>
</div>
 

{% endblock main %}


<script>
{% block script %}


{% endblock script %}
</script>
